{% extends "base.html" %}

{% block content %}
<div>
    <p>{{member.first_name}}</p>
    <hr>
    <p>{{member.last_name}}</p>
    <hr>
    <p>{{member.age}}</p>

    <p><a href="/members/{{member.id}}/edit">Edit member details</a></p>
</div>

<section>
    <form action="/members/{{member.id}}/delete" method="POST">
    <button type="submit">Delete this member</button>
    </form>
</section>
<section>
    <h3>Sessions booked:</h3>
    <ul>
        {% for session in sessions %}
        <li>{{session.session_name}}, {{session.weekday}}, {{session.time}}, {{session.instructor}}</li>
        {% endfor %}
    </ul>
</section>
{% endblock%}