.show{
    list-style: none;
    display: flex;
    background-color: dodgerblue;
    height: 10vh;
    margin: 2vw;
    width: 20vw;
    border: 10px, solid;
    justify-content: space-evenly;
    padding-top: 1.5vh;
    font-size: 2vh;
    border-radius: 5%;
    color: white;
    text-align: center;
    line-height: 10vh;
    padding-right: 2vw;
    opacity: 80%;
}

.links {
    list-style: none;
    display: flex;
    padding-top: 4vh;
}

.links > li {
    padding-right: 1.5vw;
    
}

header, footer {
    display: flex;
    background-color: dodgerblue;
    justify-content: space-between;
    
}

.logo {
    font-family: helvetica;
    color: white;
    height: 50px;
    width: 145px;
    padding-top: 3vh;
    font-size: 3vh;
    font-weight: bolder;
    text-align: center;
}

body{
    background-image: url(gym_image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: helvetica;
    color: white;
}

.blocks {
    display: inline-flex;
    background-color: dodgerblue;
    height: 4vh;
    width: 20%;
    border-color: dodgerblue;
    border: 10px, solid;
    justify-content: space-evenly;
    padding-top: 1.5vh;
    font-size: 2vh;
    border-radius: 10%;
    opacity: 80%;
}
main {
    display:list-item;
    margin:10px;
    justify-content: space-evenly;
    padding: 10px;
        
}

.middle{
    display: flex;
    justify-content: space-evenly;
}

footer{
    height: 5vh;
    margin-top: -5vh;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.big_logo{
    display: flex;
    background-color:dodgerblue;
    height: 30vh;
    width: 60%;
    justify-content: space-around;
    font-size: 10vh;
    text-align: center;
    line-height: 30vh;
    border-radius: 2%;
    opacity: 80%;
    border-style: solid;
    border: white, 4vh;
}

a{
    color: white;
}

.show_blocks{
display: flex;
}

.middle{
    display: flex;
}

