.show{
    list-style: none;
    display: flex;
    background-color: dodgerblue;
    height: 10vh;
    margin: 2vw;
    border:solid black 5px;
    justify-content: space-evenly;
    padding-top: 1.5vh;
    font-size: 2vh;
    border-radius: 5%;
    color: white;
    text-align: center;
    line-height: 10vh;
    padding-right: 2vw;
    opacity: 80%;
    width: 30%;
}

.links {
    list-style: none;
    display: flex;
    padding-top: 4vh;
}

.links > li {
    padding-right: 1.5vw;
    
}

header, footer {
    display: flex;
    background-color: dodgerblue;
    justify-content: space-between;
    
}

.logo {
    font-family: helvetica;
    color: white;
    height: 50px;
    width: 145px;
    padding-top: 3vh;
    font-size: 3vh;
    font-weight: bolder;
    text-align: center;
}

body{
    background-image: url(gym_image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: helvetica;
    color: white;
}

.blocks {
    display: inline-flex;
    background-color: dodgerblue;
    height: 4vh;
    width: 30%;
    border-color: dodgerblue;
    border:solid black 5px;
    justify-content: space-evenly;
    padding-top: 1.5vh;
    font-size: 2vh;
    border-radius: 10%;
    opacity: 80%;
}
main {
    display:list-item;
    margin:10px;
    justify-content: space-evenly;
    padding: 10px;
        
}

.middle{
    display: flex;
    justify-content: space-evenly;
}

footer{
    height: 5vh;
    margin-top: -5vh;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.big_logo{
    display: flex;
    background-color:dodgerblue;
    height: 30vh;
    width: 60%;
    justify-content: space-around;
    font-size: 10vh;
    text-align: center;
    line-height: 30vh;
    border-radius: 2%;
    opacity: 80%;
    border-style: solid;
    border:solid black 5px
}

a{
    color: white;
}

.show_blocks{
display: flex;
}

.middle{
    display: flex;
}

.individual {
    background-color: dodgerblue;
    border-radius: 5%;
    width:fit-content;
    border:solid black 5px
}

.show_blocks2{
display:flex;

}

.show2{
    width: fit-content;
    list-style: none;
    background-color: dodgerblue;
    height: fit-content;
    margin: 2vw;
    border:solid black 5px;
    justify-content: space-evenly;
    padding-top: 1.5vh;
    font-size: 2vh;
    border-radius: 5%;
    color: white;
    text-align: center;
    line-height: 10vh;
    padding-right: 2vw;
    opacity: 80%;
}
