<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitbook</title>
</head>
<body>
    <header>
       <h1>Fitbook</h1>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Classes</a></li>
                <li><a href="/members">Members</a></li>
                <li><a href="">Bookings</a></li>
            </ul>
        </nav>
        <section>
            {% block content %}

            {% endblock %}
        </section>
    </header>
    <footer>
        <section> <p>Copyright Sara Luis de Jesus - make your own!</p> </section> 
    </footer>
</body>
</html>